.navbar {
  padding-top: 0.035rem;
  padding-bottom: 0.0rem;
  margin-bottom:-4px;
}

.navbar-brand {
  color: white !important;
}

.navbar-nav {
  margin-bottom: 0 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: white; 
}

.nav-tabs {
  border-bottom: none !important;
  margin-bottom: 0 !important;
}
.nav-tabs .nav-link {
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-right: 0.2rem;
  margin-bottom:0px;
  padding: 0.5rem 1rem;
  transition: top 0.15s ease;
  position: relative;
  top: 0;
}

.nav-link{
  margin-bottom:0px;
}
.nav-tabs .nav-link:hover {
  top: -1px;
}

.nav-tabs .nav-link.active {
  background-color: white;
  color: #212529;
  border-color: black;
  border-bottom: none;  /* Still no bottom border */
  top: -3px;
  z-index: 2;
}

.navbar-nav .nav-item {
  margin-bottom: 0 !important;
}

.navbar {
  border-bottom: none !important;
  margin-top: 3px;
}
